section {
    display: -webkit-flex;
    display: flex;
  }

  nav {
    -webkit-flex: 6;
    -ms-flex: 6;
    flex: 6;
    background: #9fd89f;
    padding: 0px;
    height: 100vh;
  }

  article {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    background-color: #7f8525;
    padding: 0px;
    height: 100vh;
  }